page-question {
    font-family: 'Kanit', sans-serif;
    .toolbar-background {
        background: #fff;
        border-color: transparent;
    }
    .slide-zoom {
        height: 100%;
    }
    .slide-title {
        margin-top: 2.8rem;
    }
    .slide-image {
        max-height: 50%;
        max-width: 60%;
        margin: 18px 0;
    }
    h3 {
        margin-top: 80px;
        margin-bottom: 36px;
    }
    b {
        color: #666;
    }
    p {
        font-size: 1.5em;
        padding: 0 40px;
        font-size: 14px;
        line-height: 3;
        color: #666;
    }
}