<ion-header>
  <ion-navbar [color]="question.color">
    <ion-title>{{question.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg-grey-lighter">
  <ion-slides class="swiper-no-swiping">
    <ion-slide *ngFor="let question of question.questions">

      <div class="flex flex-col justify-center h-full">
        <h3>{{question.question}}</h3>


        <button ion-button class="flex flex-col h-24 bg-white mt-2 shadow" *ngFor="let choice of question.choices" (click)="onChoiceClick(choice)">
          <ion-item *ngIf="question.type == 'checkbox'">
            <ion-checkbox [(ngModel)]="choice.checked"></ion-checkbox>
          </ion-item>
          <div class="flex items-center justify-between text-3xl">
            <p class="text-3xl">{{choice.name}}</p>
          </div>
        </button>

        <button (click)="onNextClick(question.choices,question)" *ngIf="question.type == 'checkbox'" ion-button full>ต่อไป</button>




      </div>
      <!-- <ion-footer no-border>
        <ion-toolbar>
          <button ion-button block large icon-end color="primary" (click)="showResult(question)">
            ใช่
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-toolbar>
      </ion-footer> -->

    </ion-slide>
  </ion-slides>

</ion-content>