page-result {
    font-family: 'Kanit', sans-serif;
    h3 {
        color: #60646B;
        margin-bottom: 36px;
    }
    p {
        font-size: 1.5em;
        padding: 0 40px;
        font-size: 14px;
        line-height: 3;
        color: #60646B;
    }
    .card-md {}
}