page-reference {
    .header {
        font-family: 'Kanit', sans-serif;
        font-size: 1.5em;
    }
    .content {
        font-family: 'Kanit', sans-serif;
        color: #666;
    }

    ion-label {
        white-space : normal !important;
    }
}
